.tt{
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #ededed;
  padding: 0 1em;
  box-sizing: border-box;
}
.tt:last-child{
  border: none;
}
.col{
  width: 33.33%;
}
.t-header{
  font-weight: 700;
}
a{
  text-decoration: none;
  color: black;
}
a:hover{
  background-color: #ededed;
}
